/* Priamry */

.button {
  width: 96px;
  height: 44px;
  color: var(--white);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.buttonLabel {
  height: 24px;
}

.Primary {
  background-color: var(--purple);
  color: var(--white);
}

.Primary:hover {
  background-color: #5835b0;
  color: var(--white);
}
.Primary:active {
  background-color: #472c8a;
  color: var(--white);
}
.Primary:disabled {
  background-color: #e3daf9;
  color: var(--white);
}
.Primary:disabled {
  background-color: #e3daf9;
  color: var(--white);
}
.Primary:focus,
.Flat:focus,
.White:focus,
.FlatWhite:focus {
  box-shadow: inset 0px 0px 0px 2px #11111173;
}

/* Flat */

.Flat {
  background-color: transparent;
  color: var(--purple);
}

.Flat .plusIcon path {
  fill: var(--purple);
}
/* Plus Icon */

.plusIcon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.plusIcon path {
  fill: var(--white);
}

.Plus:focus {
  box-shadow: inset 0px 0px 0px 2px #11111173;
}

.NoText:hover {
  background-color: #5835b0;
}
.NoText:active {
  background-color: #472c8a;
}
.NoText:disabled {
  background-color: #e3daf9;
}
.NoText:focus {
  box-shadow: inset 0px 0px 0px 2px #11111173;
}

.NoText {
  height: 44px;
  width: 46px;
  padding: 0;
}

.NoTextCircle {
  height: 44px;
  width: 44px;
  border-radius: 100px;
  padding: 0%;
}

.NoText .plusIcon,
.NoTextCircle .plusIcon {
  margin-right: 0px;
}

.NoTextCircle:hover {
  background-color: #5835b0;
}
.NoTextCircle:active {
  background-color: #472c8a;
}
.NoTextCircle:disabled {
  background-color: #e3daf9;
}
.NoTextCircle:focus {
  box-shadow: inset 0px 0px 0px 2px #11111173;
}

/* White */

.White {
  background-color: var(--white);
  color: var(--purple);
  box-shadow: none;
}
.White .plusIcon path {
  fill: var(--purple);
}

.FlatWhite {
  background-color: transparent;
  color: var(--white);
}

/* Rounded */

.Rounded {
  border-radius: 100px;
}

/* White effect */

.White:hover {
  background-color: #ffffffda;
}

.FlatWhite:hover {
  background-color: #ffffff23;
}
.FlatWhite:active {
  background-color: #ffffff3a;
}

/* Flat effect */

.Flat:hover {
  background-color: #6f41e218;
}
.Flat:active {
  background-color: #6f41e23a;
}

.Secondary {
  box-shadow: inset 0px 0px 0px 2px var(--purple);
  color: var(--purple);
  background-color: transparent;
  /* max-height: 41px; */
}

.Secondary:hover {
  background-color: #6f41e20a;
}

.Secondary:focus,
.Secondary.Plus:focus {
  box-shadow: inset 0px 0px 0px 2px #11111173;
}

.Secondary .plusIcon path {
  fill: var(--purple);
}
