.tagContainer {
  width: 58px;
  height: 24px;
  background: var(--white);
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.tagContainer:hover .closeButton path {
  fill: #111111;
}

.tagContainer span {
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  color: var(--purple);
  margin-right: 4px;
}

.tagContainer path {
  fill: rgba(0, 0, 0, 0.479);
}

.tagContainer.primary {
  background-color: var(--purple);
  border: none;
}

.tagContainer.primary span {
  color: var(--white);
}

.tagContainer.primary path {
  fill: var(--white);
}

.tagContainer.m {
  width: 63px;
  height: 28px;
}

.tagContainer.m span {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
