.DarkBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #343434;
  /* border-radius: 50px; */
  padding: 30px 50px 30px 50px;
}
