@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Roboto:wght@400;700&display=swap");

:root {
  --purple: #6e41e2;
  --white: #ffffff;
  --dark: #141414;
  --gray: rgba(17, 17, 17, 0.48);
  --defaultShadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(51, 51, 51, 0.08);
  --hoverShadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 56px rgba(51, 51, 51, 0.16);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.global {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.shadow {
  box-shadow: var(--defaultShadow);
}
