.fileContainer {
  /* box-sizing: border-box; */
  position: relative;
  display: grid;
  width: 675px;
  height: 92px;
  background-color: var(--white);
  box-shadow: var(--defaultShadow);
  border-radius: 4px;
  margin-bottom: 32px;
  grid-template-columns: 20px 75% auto;
  grid-template-rows: auto 4px;
  grid-template-areas:
    ". fileText percent"
    "progress progress progress";
}

.fileIcon {
  position: absolute;
  left: 326px;
  top: 30px;
}

.fileContainer:hover {
  box-shadow: var(--hoverShadow);
}
.dragFile {
  background-color: var(--purple);
  height: 84px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileText {
  grid-area: fileText;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  line-height: 24px;
  margin-top: 2px;
}

.fileTextDefault {
  margin-top: 8px;
  font-size: 13px;
  color: #1111117a;
  line-height: 20px;
}

.fileTextDefault.error {
  color: #db524e;
}

.fileText a,
.selectFile {
  color: var(--purple);
  text-decoration: none;
}

.filePercent {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 32px;
  color: #e3daf9;
  grid-area: percent;
  display: flex;
  /* align-items: center; */
  justify-self: flex-end;
  margin: 30px 30px 0 0;
}

.fileSize {
  color: #1111117a;
}

.progressBar {
  /* position: absolute; */
  height: 4px;
  background-color: var(--purple);
  width: 0%;
  grid-area: progress;
  animation: progress 3s forwards;
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.progressBar.err {
  animation: progressErr 3s forwards;
}

@keyframes progressErr {
  from {
    width: 0%;
  }
  to {
    width: 66%;
  }
}

.fileUploaded {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  grid-area: percent;
  height: 56px;
  width: 56px;
  margin: 18px 24px 0 0;
  color: var(--purple);
}

/* Live demo */

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}
