.dropDownIndicator path {
  fill: var(--gray);
  width: 15px;
  height: 9px;
}

.dropDownIndicator {
  margin-right: 12px;
}

.selectComponent {
  position: relative;
}

.placeholder.live {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 16px) scale(1);
  top: 4px;
  left: 16px;
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #6f81a5;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  padding: 0;
}

.selectComponent:focus-within .placeholder.live {
  transform: translate(0, 6px) scale(0.8);
}

.selectComponent .filled {
  transform: translate(0, 6px) scale(0.8);
}

