/* label {
  padding: 4px 0px 4px 0px;
}

#checkbox {
  height: 24px;
  width: 24px;
  margin-right: 12px;
}

#checkbox:checked {
  background-color: var(--purple);
} */

.checkboxContainer {
  position: relative;
  display: block;
  padding-left: 36px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 67px;
  margin-bottom: 20px;
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmarkContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  margin-right: 12px;
  background-color: var(--white);
  border: 1px solid rgba(212, 212, 212, 1);
  border-radius: 4px;
}

.checkboxContainer input:checked ~ .checkmarkContainer:hover {
  background-color: #5835b0;
}

.checkboxContainer input:checked ~ .checkmarkContainer {
  background-color: var(--purple);
}

.checkmark path {
  fill: var(--white);
}

.checkmark {
  margin: 3px;
}

.checkboxContainer input:checked ~ .checkmarkContainer > .checkmark {
  display: block;
}

.error {
  color: rgba(219, 82, 78, 1);
}

.checkmarkContainer.error {
  background-color: rgba(249, 227, 227, 1);
}
