.describtion {
  font-size: 13px;
  line-height: 20px;
  color: rgba(17, 17, 17, 0.48);
}

.toggleBody {
  background: rgba(255, 255, 255, 0.88);
  /* border: 2px solid #e3daf9; */
  box-shadow: 0px 0px 0px 2px #e3daf9;
  border-radius: 100px;
  margin: 0px 12px;
  height: 24px;
  width: 48px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.toggleBody.on:hover {
  background-color: #5835b0;
}

.toggleButton.off {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background-color: var(--purple);
  margin: 4px;
}

.toggleEndpoint {
  position: absolute;
  top: 0;
  right: -2px;
  width: 12px;
  height: 12px;
  /* background-color: #e3daf9; */
  border: 2px solid #e3daf985;
  border-radius: 100px;
  margin: 6px 8px 6px 4px;
}

.toggleBody:hover > .toggleEndpoint.off {
  border: 2px solid rgba(187, 172, 226, 1);
}

.toggleBody:focus {
  box-shadow: 0px 0px 0px 2px rgba(17, 17, 17, 0.48);
}

.toggleBody.on {
  background: var(--purple);
  box-shadow: 0px 0px 0px 2px var(--purple);
}

.toggleBody.on:focus {
  box-shadow: 0px 0px 0px 2px #d4d4d4 48%;
}

/* 123 */

.container {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
}

input[type="checkbox"]:checked + label {
  background-color: var(--purple);
  transition: background-color 0.1s ease-in;
  transition-delay: 0.2s;
}

.checkbox {
  display: none;
}

.label {
  width: 48px;
  height: 24px;
  display: inline-block;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.88);
  box-shadow: inset 0px 0px 0px 2px #e3daf9;
  border-radius: 100px;
  position: absolute;
  top: 0;
  margin-left: 10px;
}

.toggleCheckMark {
  position: absolute;
  top: 4px;
  left: 4px;
}

.toggleCheckMark path {
  fill: #fff;
}

.switch {
  display: block;
  width: 16px;
  height: 16px;
  margin: 4px;
  background: var(--purple);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 24px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.2s ease-in 0s;
  z-index: 10;
}

.switch:hover {
  cursor: pointer;
}

/* button */
.checkbox:checked + .label .switch {
  right: 0px;
  background-color: #ffffff;
}
